<%= hidden_field "payment_source[#{payment_method.id}]", 'order_id', value: @order.id %>
<% param_prefix = "payment_source[#{payment_method.id}]" %>
<div class="span3">
	<%= label_tag "Bandeira *" %>
	<%= select_tag "#{param_prefix}[cc_type]", options_for_select(Cielo::Transaction::Base::BANDEIRAS.map{|b|[b.capitalize, b]}) %>
	<% (1..3).each do |instalment| %>
		<p>
			<%= radio_button_tag "#{param_prefix}[instalments]", instalment, instalment==1 %>
			<%= "#{instalment}x de #{number_to_currency(@order.total/instalment.to_f)}" %>
		</p>
	<% end %>
</div>
<div class="span5">
	<ul class="thumbnails cards">
		<li class="span1"><%= link_to image_tag("payment/visa.png", :size => "51x30"), "#", :data => {:card => "Visa"}, :class => "thumbnail" %></li>
		<li class="span1"><%= link_to image_tag("payment/mastercard.png", :size => "43x30"), "#", :data => {:card => "Mastercard"}, :class => "thumbnail" %></li>
		<li class="span1"><%= link_to image_tag("payment/diners.png", :size => "41x30"), "#", :data => {:card => "Diners"}, :class => "thumbnail" %></li>
		<li class="span1"><%= link_to image_tag("payment/elo.png", :size => "30x30"), "#", :data => {:card => "Elo"}, :class => "thumbnail" %></li>
		<li class="span1"><%= link_to image_tag("payment/discover.png", :size => "48x30"), "#", :data => {:card => "Discover"}, :class => "thumbnail" %></li>
	</ul>
</div>
